.DS_Store

*.so
*.o
*.d
Makefile
*algorithm*.txt
*.csv
.depend.*
GNUmakefile*
Makefile*
lib*
.*.swp
*.class
*.log
.vimrc


network_*
mpgen
madara_registry
madara_version
profile_architecture
karl
include/madara/Version.h

bin/*
docs/madara/*
docs/maal/*
docs/maml/*
docs/VERSION.txt

#Ignore maven project files
target/
.project
.settings
